
/* 

    1)use transition in main style always not in psudeo class like hover and focus.
    2) Add property of any class inside block of one style class. e.g :- see .dark_mode class (By this way i'm able to style more divs by dark mode class)


*/



:root {
    --ligth_pink: #f2cbcb;
}



:root::-webkit-scrollbar {
    width: 6px;
}

:root::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
:root::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background-color: var(--ligth_pink);
    border-radius: 10vh;
}

:root::-webkit-scrollbar-thumb:hover {
    border: 1px solid black;
    background-color: red;
    border-radius: 10vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: cursive , monospace;
}


*::selection {
    background-color: var(--ligth_pink);
    color: white;
}


/* some class used by js for dark mode */
/* Below SSAS type css code is working well , and remeber 1st rule of coding if code is working then don't touch it 😂 */

.dark_mode {
    background-color: #212529;
    color: white;

    #dark{
        background-color: #fff;
        color: #000;

    }


    .logos{
        background-color: var(--ligth_pink);
    }

    .inner{
        background-color: black !important;
        color: white !important;
    }

}

.dark_inner_div {
    background-color: black !important;
    color: white !important;
}


body{
    background-color: #ccffed;
}


h1 {
    margin: 2vh auto;
    text-decoration: underline;
    /* width: 90%; */
}

.first_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
}

.first_div>button {
    height: fit-content;
    padding: 2px;
    border-radius: 1.5vh;
    background-color: black;
    color: #fff;
    font-weight: bold;
    margin-left: 0.5vh;
    position: relative;
    left: 20%;

    transition: transform 200ms;
}

.first_div>button:hover{
    cursor: pointer;
    transform: scale(1.3);
}


main {
    /* height: 100dvh; */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

}


.contect_div {
    width: 60%;
    min-height: 80vh;
    background-color: var(--ligth_pink);
    border: 1px solid;

    margin: 5vh;
    padding: 0.7vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.contect_div:hover {
    filter: drop-shadow(-5px -5px 4px black);
    transform: scale(1.0025);
    transition: transform 300ms;

}


.contect_div>.inner {
    background-color: #fff;

    background-image: linear-gradient(145deg, #ffffaeaa, transparent, transparent, transparent, transparent, #c6fefe85);
    border: 1px solid;

    height: 100%;
    width: 100%;
    min-height: inherit;

    border-radius: 2vh;
    padding: 2vh;
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.contect_div>.inner>.form_div {
    padding: 1vh;
    width: 70%;
    border-radius: 1vh;
    border: 2px solid var(--ligth_pink);
    margin: 0.5vh;
}


#contect_form {
    display: flex;
    flex-direction: column;
}

#contect_form>h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-bottom: 1.5vh;

}


#contect_form>input {
    height: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5vh;

}

#contect_form>input:focus {
    background-color: var(--ligth_pink);
}

#contect_form>textarea {
    resize: none;
    font-size: 1.3rem;
    font-weight: bold;

}

#contect_form>textarea:focus {
    background-color: var(--ligth_pink);
}

#contect_form>.button {
    /* background-color: blue;
    color: #fff; */
    /* background-color: #fff; */
    font-weight: bolder;
    margin: 1vh 0;
    width: fit-content;
    font-size: 1.3rem;
    padding: 0.5vh;
    border-radius: 0.5vh;
    border: 1px solid;
    letter-spacing: 3px;

}

#contect_form>.button:hover {
    background-color: green;
    color: #fff;
}

#contect_form>.button:active {
    background-color: black;
    color: #fff;
}


/* OTP form code starts here ----> */

#otp_form {
    display: flex;
    flex-direction: column;
}


#otp_form>h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-bottom: 1.5vh;

}


#otp_form>input {
    height: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5vh;
}

#otp_form>input:focus {
    background-color: var(--ligth_pink);
}



.time_send {
    margin: 0.5vh 0;

    display: flex;
    justify-content: space-between;

    /* background-color: red; */
    font-size: 1.3rem;
}


.time_send>p {
    border: 1px solid;
    border-radius: 1vh;
    padding: 0.5vh;
}


.time_send>p:nth-child(1) {
    /* background-color: red; */
    width: 30%;
    font-weight: bold;

    word-spacing: 5px;
    letter-spacing: 3px;
    text-align: center;

}

.time_send>p:nth-child(1):hover {
    background: green;
    color: white;
}

.time_send>p:nth-child(1):active {
    background: black;
}


#timer {
    visibility: hidden;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 0.5vh;

    /* animation: time 0.5s infinite alternate 3s ; */
    /* Now this done by js , see the js file */
}




.opt_verify {
    margin: 0.5vh 0;
    display: flex;
    justify-content: space-between;

    /* background-color: red; */
    font-size: 1.3rem;
}

.opt_verify>input {
    border: 1px solid;
    border-radius: 1vh;
    padding: 0.5vh;
    width: 70%;
    margin-right: 0.5vh;
    font-size: 1.3rem;
    font-weight: bold;

}

.opt_verify>input:focus {
    background-color: var(--ligth_pink);
}

.opt_verify>p {
    border: 1px solid;
    border-radius: 1vh;
    padding: 0.5vh;
    width: 30%;

    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;

}

.opt_verify>p:hover {

    background-color: green;
    color: white;
}

.opt_verify>p:active {
    background-color: black;
}





footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;


}


.self_img {
    height: 20dvb;
    width: 20dvh;
    margin: 1.5vh;
    border-radius: 50%;
    border: .7vh solid var(--ligth_pink);
    padding: 2px;
    transform: rotate(0deg);

    transition: transform 1s ease-in-out , border 1s;

}


.self_img:hover {
    border: 1vh solid var(--ligth_pink);
    transform: rotate(360deg) scale(1.2);
    box-shadow: 2px 2px 7px black;
   cursor: wait;
}


.foot_content {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2vh;
}



.logo_div {
    margin: 0 auto;
}

.logos {
    margin: 0.5vh 1vh;
    height: 30px;
    width: 30px;
    /* background-color: var(--ligth_pink); */
    border-radius: 10px;
    transform: rotate(0deg);
    border: 1px solid var(--ligth_pink);
    padding: 2px;
    transition: transform 150ms ease-in-out;

}


.logos:hover {
    border: 2px  solid var(--ligth_pink);
    transform: rotate(70deg) scale(1.3);
}


#goto_top {
    text-align: end;
    margin: 2vh;
    position: sticky;
    bottom: 4px;
    visibility: hidden;
}

#goto_top>a {
    color: violet;
    text-decoration: none;
    font-size: 2rem;
    border: 2px solid;
    border-radius: 50%;
    padding: 0 1.5vh;
    font-weight: bold;
}

#goto_top>a:focus {
    background-color: red;
}



/* Animation of timmer ------------>*/

@keyframes time {

    0% {
        font-size: 0.5rem;
        color: black;
        background-color: lightcyan;
        transform: scaleX(0.7);
        border-radius: 0;

    }

    100% {
        font-size: 0.9rem;
        color: darkred;
        background-color: lightsalmon;
        transform: scaleX(1);
        border-radius: 50%;
    }

}




/* Media queries starts here ------------------> */

@media (max-width:694px) {

    *{
        font-family: 'Lucida Sans';
    }

    h1 {
        font-size: 1.2rem;
        width: 90%;
        margin: auto;
    }

    .first_div {
        margin: 2vh auto;
    }

    .first_div>button {
        left: 5px;
    }

    .contect_div {
        width: 90%;
    }

    .contect_div>.inner>.form_div {
        width: 100%;
    }

    #contect_form>.button {
        letter-spacing: 0;
    }


    .time_send>p:nth-child(1) {
        font-size: 0.9rem;
        word-spacing: 0px;
        letter-spacing: 0px;
    }

    .opt_verify>input {
        font-size: revert;

    }

    .opt_verify>p {
        font-size: 0.9rem;
        letter-spacing: 0px;

    }

    footer {
        flex-direction: column-reverse;
    }

    .foot_content {
        justify-content: end;
        margin-top: 5vh;
    }

}


@media (max-width:351px) {
   
    .time_send>p:nth-child(1) {
        width: -webkit-fill-available;
    }

    .opt_verify>input {
        font-size: revert;

    }

    .opt_verify>p {
        width: -webkit-fill-available;
    }

}